<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="helloWorld" class="test.HelloWorld" init-method="init" destroy-method="destroy">
        <property name="message" value="hello world" />
    </bean>

    <bean id="textEditor" class="test.TextEditor">
        <constructor-arg ref="spellChecker" />
    </bean>

    <bean id="spellChecker" class="test.SpellChecker" >

    </bean>

    <bean class="test.InitHelloWorld" />
</beans>